{% extends 'base.html.twig' %}

{% block title %}Login page | Login app{% endblock %}

{% block page_title %}
    <h1>Login</h1>
{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-sm-7">
            <form method="post" id="login_form">
                <h1 class="h3 mb-3 font-weight-normal">Please sign in</h1>
                {% if error %}
                    <div class="alert alert-danger">{{ error.messageKey|trans(error.messageData, 'security') }}</div>
                {% endif %}
                <div class="form-group">
                    <label for="inputEmail">Email address</label>
                    <input type="email" value="{{ last_username }}" name="email" id="inputEmail" class="form-control" required autofocus>
                </div>
                <div class="form-group">
                    <label for="inputPassword1">Password</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" required>
                </div>
                <input type="hidden" name="_csrf_token" value="{{ csrf_token('authenticate') }}">
                <button type="submit" class="btn btn-primary">Submit</button>
            </form>
        </div>
    </div>
    <br>
    <a href="{{ path('app_index') }}">Back to index</a> | <a href="{{ path('app_registration') }}">Register</a>
{% endblock %}


